arch/
nwjs/
electron/
node/
package.nw
package.electron
WeChat_Dev_Tools_*_linux/
cache/
tmp/
mew/
node_modules
test/mini-ci
crash-server
build
*.snap
*.AppImage
appimage-builder-cache
wcc.bin
wcsc.bin
temp.sh
# flatpak
.flatpak-builder
build-dir
__pycache__
.wine
*.tar.gz
